
<div class="container">
    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
          <a class="nav-item nav-link link-body-emphasis" href="#}">Рок</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Реп</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Хип-Хоп</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Альтернатива</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Поп-Рэп</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Эмо-Реп</a>
        </nav>
    </div>
</div>
