{% extends 'main/base.html' %}

{% block content %}
<h1 class="text-center">Регистрация</h1>

<div class="form-container mx-auto" style="max-width: 400px;">
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="text-danger small">
                {{ field.errors|striptags }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
        </div>
    </form>
</div>
{% endblock %}